Port 22
Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
UsePAM no
PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile none
AuthorizedKeysCommand /app/ssh-auth-hook.sh %u %f %t %k
AuthorizedKeysCommandUser root
AllowUsers git
PermitTTY no
AllowTcpForwarding no
X11Forwarding no
AllowAgentForwarding no
MaxAuthTries 10
PidFile /var/run/sshd.pid
PrintMotd no
LogLevel VERBOSE
PermitUserEnvironment SSH_KEY_FINGERPRINT
PermitUserEnvironment SSH_PUBLIC_KEY

Match User git
    ForceCommand /app/dispatcher-wrapper.sh
